.details{
    text-align: right;
}

.desc{
    background-color: blueviolet;
    max-width: 55ch;
    margin-left: auto;
    padding: 12px;
}

.skills{
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    list-style: none;
}

.icons{
    text-decoration: none;
}

.container{
    position: relative;
}

.image{
    position: absolute;
    z-index: -1;
}
