.project{
    height: 450px;
    margin-bottom: 75px;
}

.details{
    text-align: right;
    position: relative;
    padding-top: 20px;
    z-index: 2;
}

.desc{
    background-color: #112240;
    max-width: 45ch;
    margin-left: auto;
    margin-top: 0.75rem;
    padding: 12px;
}

.skills{
    font-family: var(--font-mono);
    display: flex;
    justify-content: right;
    gap: 1rem;
    list-style: none;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.icon{
    text-decoration: none;
    color: var(--accent-color);
}

.container{
    position: relative;
}

.image{
    position: absolute;
    width: 775px;
    z-index: 1;
}

.title{
    color: var(--accent-color);
    font-family: var(--font-mono);
}

.name{
    color: var(--title-color);
    font-size: var(--size-4xl);
}
