*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero{
    max-width: 1000px;
    margin-left: 200px;
    margin-bottom: 500px;
    text-align: left;
    
}

.title{
    font-size: 1.5rem;
    font-family: var(--font-mono);
    margin-bottom: 0.5rem;
}

.name{
    font-size: clamp(40px, 8vw, 80px);
    line-height: 0.9;
}

.subtitle{
    font-size: clamp(40px, 8vw, 80px);
    line-height: 0.9;
    margin-bottom: 2rem;
}

.intro{
    max-width: 60ch;
    font-size: 1.1rem;
}

