.contact{
    text-align: center;
}

.title::before {
    color: var(--accent-color);
    content: "04.";
    margin-right: 15px;
}

.text{
    max-width: 60ch;
    margin-inline: auto;
    margin-bottom: 1rem;

}

.button{
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 1em;
    border-radius: 4px;
}
