section.contact{
    text-align: center;
    padding-bottom: 0px;
    min-height: 400px;
    max-width: 900px;
}

.title::before {
    color: var(--accent-color);
    content: "04.";
    margin-right: 15px;
}

.text{
    max-width: 75ch;
    font-size: 18px;
    margin-inline: auto;
    margin-bottom: 1rem;

}

.button{
    color: var(--title-color);
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    font-family: var(--font-mono);
    font-size: 1rem;
    padding: 1em;
    transition: color 0.2s;
}
.button:hover{
    color: var(--accent-color);
}
