section.experience{
    max-width: 1000px;
    padding-bottom: 250px;
}

.wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.link {
    display: block;
    text-decoration: none;
    line-height: 1.7;
    font-size: 14px;
    padding: 10px;
    padding-left: 15px;
    min-width: 150px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 2px solid #233554;
    height: 45px;

}

.link:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    transition: background-color 400ms ease;
}

.tabs{
    position: relative;
}

.selected{
    --size: 45px;
    --data-index:0;
    position: absolute;
    top: 0;
    width: 2px;
    height: 45px;
    background-color: var(--accent-color);
    transform: translateY(calc(var(--size) * var(--data-index)));
    transition: transform 0.3s ease;

}


.linkActive {
    color: var(--accent-color);
    font-weight: 500;

    &,
    &:hover {
        background-color: var(--hover-color) !important;
    }
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;


}
.list li{
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.list li::before{
    content: "⇾";
    color: var(--accent-color);
    position: absolute;
    font-size: 20px;
    left: 0px;
    line-height: 20px;
}

.position{
    color: var(--title-color);
}

.company{
    color: var(--accent-color);
}

.dates{
    color: var(--sub-title-color);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.jobInfo{
    max-width: 60ch;
    display: none;
}

.active{
    display: block;
    animation: fadeIn 1s;
}

.title::before {
    color: var(--accent-color);
    content: "02.";
    margin-right: 15px;
}

@media (max-width: 640px){
    .wrapper{
        flex-direction: column;
    }

    .tabs{
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
    }

    .link{
        border-left: none;
        border-bottom: 2px solid #dee2e6;
    }

    .selected{
        top: 43px;
        width: 150px;
        height: 2px;
        --size: 150px;
        transform: translateX(calc(var(--size) * var(--data-index)));

    }
}
