.experience{
    margin-bottom: 500px;    
    margin-left: 200px;
    margin-right: 200px;
    max-width: 900px;
}

.wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.link {
    display: block;
    text-decoration: none;
    line-height: 1.7;
    font-size: 14px;
    padding: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 2px solid #dee2e6;
    height: 45px;

}

.link:hover {
    cursor: pointer;
    background-color: #f8f9fa;
    transition: background-color 600ms ease;
}

.tabs{
    position: relative;
}

.selected{
    position: absolute;
    top: 0;
    width: 2px;
    height: 45px;
    background-color: red;
    transition: transform 0.3s ease;

}


.linkActive {
    color: #228be6;

    &,
    &:hover {
        background-color: rgba(34,139,230,.1) !important;
    }
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;

    li{
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    li::before{
        content: "⇾";
        position: absolute;
        font-size: 20px;
        left: 0px;
        line-height: 20px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.jobInfo{
    max-width: 50ch;
    display: none;
}

.active{
    display: block;
    animation: fadeIn 1s;
}

.title::before {
    content: "02.";
    margin-right: 15px;
}
