.github{
    position: fixed;
    bottom: 0;
    left: 0;
}

.title{
    font-size: 2rem;
    color: var(--title-color);
}

.scrollArea{
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    padding-right: 3px;
}
