.sectionTitle{
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.sectionTitle::after{
    content: "";
    display:block;
    position: relative;
    top: 4px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: grey;
}
