.container{
    width: 100%;
    max-width: 1536px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 350px;
    border: 1px solid transparent;
}

.sectionTitle{
    color: var(--title-color);
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.sectionTitle::after{
    content: "";
    display:block;
    position: relative;
    top: 4px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: grey;
}


@media (max-width: 1536px){
}

@media (max-width: 1280px){
}

@media (max-width: 1024px){
    .container{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 768px){
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 640px){
    .container{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 475px){
}
