section.about{
    max-width: 1200px;
    padding-bottom: 250px;
}

.title{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.title::before {
    color: var(--accent-color);
    content: "01.";
    margin-right: 15px;
}

.aboutContainer{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;

}
.aboutContainer p{
    margin-bottom: 1rem;
}


.skills{
    display: grid;
    grid-template-columns: repeat(2,minmax(120px, 200px));
    gap: 15px;
    list-style: none;
}

.skills li{
    position: relative;
    padding-left: 20px;
}

.skills li::before{
    content: "⇾";
    color: var(--accent-color);
    position: absolute;
    font-size: 20px;
    left: 0px;
    line-height: 20px;
}

.container{
    position: relative;
}


@media (max-width: 1536px){
}

@media (max-width: 1280px){
}

@media (max-width: 1024px){
}

@media (max-width: 768px){
    .aboutContainer{
        display: block;
    }
    .image{
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 640px){
}

@media (max-width: 475px){
}

